<template>
    <v-container>

        <v-row v-if="!apartments">
            <v-col class="text-center">
                <v-progress-circular
                        size="100"
                        indeterminate
                        color="primary"
                ></v-progress-circular>
            </v-col>
        </v-row>

        <v-row v-if="apartments && apartments.length === 0">
            <v-col class="text-center">
                <h1>No results!</h1>
            </v-col>
        </v-row>

        <template v-if="apartments">
            <v-row>
                <v-col v-bind:key="apartment.id" v-for="apartment in apartments" class="col-sm-12 col-md-6">
                    <apartment-card v-bind:apartment="apartment"></apartment-card>
                </v-col>
            </v-row>
        </template>
    </v-container>
</template>

<script>
    import ApartmentCard from "./ApartmentCard";
    export default {
        name: 'ApartmentList',
        components: {ApartmentCard},
        props: ['apartments']
    }
</script>
