<template>
    <v-hover>
        <template v-slot="{ hover }">
            <v-card :class="`elevation-${hover ? 24 : 6}`" class="transition-swing">
                <v-img
                        v-bind:src="apartment.photoUrl"
                        height="200px"
                ></v-img>

                <v-card-title>
                    {{apartment.name}}
                </v-card-title>

                <v-card-subtitle>
                    <a href="#">{{apartment.hotel.name}}</a>
                </v-card-subtitle>

                <v-card-text class="text-center">
                    <v-row>
                        <v-col cols="4">
                            <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }">
                                    <div class="subtitle-1" v-bind="attrs" v-on="on">
                                        <v-icon small>mdi-currency-usd</v-icon> • {{apartment.price}}
                                    </div>
                                </template>
                                <span>Price per night</span>
                            </v-tooltip>
                        </v-col>
                        <v-col cols="4">
                            <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }">
                                    <div class="subtitle-1" v-bind="attrs" v-on="on">
                                        <v-icon small>mdi-account-group</v-icon> • {{apartment.guestsMaxAmount}}
                                    </div>
                                </template>
                                <span>Max guests</span>
                            </v-tooltip>
                        </v-col>
                        <v-col cols="4">
                            <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }">
                                    <div class="subtitle-1" v-bind="attrs" v-on="on">
                                        <v-icon small>mdi-square-outline</v-icon> • {{apartment.roomArea}} ㎡
                                    </div>
                                </template>
                                <span>Room area</span>
                            </v-tooltip>
                        </v-col>
                    </v-row>

                </v-card-text>

                <v-divider></v-divider>

                <v-card-title>Facilities</v-card-title>

                <v-card-text>
                    <v-chip-group
                            column
                    >
                        <v-chip v-for="facility in apartment.facilities" v-bind:key="facility.id">{{facility.name}}</v-chip>
                    </v-chip-group>
                </v-card-text>

            </v-card>
        </template>
    </v-hover>
</template>

<script>
    export default {
        name: "ApartmentCard",
        props: ['apartment']
    }
</script>

<style scoped>

</style>