<template>
    <v-list>
        <v-list-item>
            <v-list-item-content>
                <v-list-item-title>Filters</v-list-item-title>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
            <v-list-item-content>
                <v-select
                        :items="[10,25, 50]"
                        dense
                        item-value="id"
                        item-text="name"
                        label="Items per page"
                        outlined
                        v-model="searchData.meta.perPage"
                        hide-details
                ></v-select>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
            <v-list-item-content>
                <v-select
                        :items="cities"
                        dense
                        item-value="id"
                        item-text="name"
                        multiple
                        label="Localization"
                        outlined
                        v-model="searchData.filters.filterCities.values"
                        hide-details
                >
                    <template v-slot:selection="{ item, index }">
                        <v-chip v-if="index === 0" small>
                            <span>{{ item.name }}</span>
                        </v-chip>
                        <span
                                v-if="index === 1"
                                class="grey--text caption"
                        >(+{{ searchData.filters.filterCities.values.length - 1 }})</span>
                    </template>
                </v-select>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
            <v-list-item-content>
                <v-select
                        :items="hotels"
                        dense
                        item-value="id"
                        item-text="name"
                        multiple
                        label="Hotels"
                        outlined
                        v-model="searchData.filters.filterHotels.values"
                        hide-details
                >
                    <template v-slot:selection="{ item, index }">
                        <v-chip v-if="index === 0" small>
                            <span>{{ item.name }}</span>
                        </v-chip>
                        <span
                                v-if="index === 1"
                                class="grey--text caption"
                        >(+{{ searchData.filters.filterHotels.values.length - 1 }})</span>
                    </template>
                </v-select>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
            <v-list-item-content>
                <v-text-field
                        type="number"
                        label="Price from"
                        dense
                        outlined
                        v-model="searchData.filters.filterPriceFrom.values[0]"
                ></v-text-field>
                <v-text-field
                        type="number"
                        label="Price to"
                        dense
                        v-model="searchData.filters.filterPriceTo.values[0]"
                        outlined
                        hide-details
                ></v-text-field>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
            <v-list-item-content>
                <v-text-field
                        type="number"
                        label="Guests min"
                        dense
                        v-model="searchData.filters.filterGuestsMin.values[0]"
                        outlined
                ></v-text-field>

                <v-text-field
                        type="number"
                        label="Guests max"
                        dense
                        v-model="searchData.filters.filterGuestsMax.values[0]"
                        outlined
                        hide-details
                ></v-text-field>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
            <v-list-item-content>
                <v-text-field
                        type="number"
                        label="Size from"
                        dense
                        v-model="searchData.filters.filterRoomSizeMin.values[0]"
                        outlined
                ></v-text-field>

                <v-text-field
                        type="number"
                        label="Size to"
                        dense
                        v-model="searchData.filters.filterRoomSizeMax.values[0]"
                        outlined
                        hide-details
                ></v-text-field>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
            <v-list-item-content>
                <v-select
                        :items="facilities"
                        dense
                        multiple
                        label="Facilities"
                        outlined
                        item-value="id"
                        item-text="name"
                        v-model="searchData.filters.filterFacilities.values"
                        hide-details
                >
                    <template v-slot:selection="{ item, index }">
                        <v-chip v-if="index === 0" small>
                            <span>{{ item.name }}</span>
                        </v-chip>
                        <span
                                v-if="index === 1"
                                class="grey--text caption"
                        >(+{{ searchData.filters.filterFacilities.values.length - 1 }})</span>
                    </template>
                </v-select>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
            <v-list-item-content>
                <v-btn
                        small
                        color="pink"
                        dark
                        @click="search"
                >
                    <v-icon small>mdi-filter-outline</v-icon> Filter
                </v-btn>
            </v-list-item-content>
        </v-list-item>
    </v-list>
</template>

<script>

    export default {
        name: "Filters",
        props: ['filtersInput', 'perPage'],
        data: () => ({
            searchData: {
                filters: {
                    filterCities: {type: 'IN', key: 'hotel.city_id', values: []},
                    filterHotels: {type: 'IN', key: 'hotel_id', values: []},
                    filterPriceFrom: {type: 'GTE', key: 'price', values: []},
                    filterPriceTo: {type: 'LTE', key: 'price', values: []},
                    filterGuestsMin: {type: 'GTE', key: 'guests_max_amount', values: []},
                    filterGuestsMax: {type: 'LTE', key: 'guests_max_amount', values: []},
                    filterRoomSizeMin: {type: 'GTE', key: 'room_area', values: []},
                    filterRoomSizeMax: {type: 'LTE', key: 'room_area', values: []},
                    filterFacilities: {type: 'IN', key: 'facilities.id', values: []},
                },
                meta: {
                    perPage: 10
                }
            }
        }),
         created() {
             this.$store.dispatch('fetchCities');
             this.$store.dispatch('fetchHotels');
             this.$store.dispatch('fetchFacilities');
         },
        mounted() {
            for (let filterName in this.filtersInput) {
                this.searchData.filters[filterName] = this.filtersInput[filterName];
            }
            this.searchData.meta.perPage = this.perPage;
        },
        methods: {
            search() {
                let searchData = {
                    meta: {
                        perPage: this.searchData.meta.perPage
                    },
                    filters: {}
                }
                for (let filterName in this.searchData.filters) {
                    if (this.searchData.filters[filterName].values.length > 0) {
                        if (typeof this.searchData.filters[filterName].values[0] === 'string' && this.searchData.filters[filterName].values[0].length === 0) {
                            continue;
                        }
                        searchData.filters[filterName] = this.searchData.filters[filterName];
                    }
                }

                this.$emit('filterSearch', searchData);
            }
        },
        computed: {
            hotels() {
                return this.$store.state.hotels;
            },
            cities() {
                return this.$store.state.cities;
            },
            facilities() {
                return this.$store.state.facilities;
            }
        }
    }
</script>

<style scoped>

</style>
