<template>
    <v-app>
        <v-app-bar
                app
                color="primary"
                dark
                dense
        >
            <div class="d-flex align-center">
                <v-card-subtitle>Zdrojowa Hotels</v-card-subtitle>
            </div>

            <template v-slot:extension>
                <v-fab-transition>
                    <v-btn
                            @click.stop="drawer = !drawer"
                            color="pink"
                            fab
                            dark
                            small
                            absolute
                            bottom
                            right
                    >
                        <v-icon>mdi-filter</v-icon>
                    </v-btn>
                </v-fab-transition>
            </template>

        </v-app-bar>

        <v-navigation-drawer
                v-model="drawer"
                fixed
                temporary
                right
                width="300"
        >
            <filters
                    v-on:filterSearch="filterSearch"
                    v-bind:filtersInput="searchData.filters"
                    v-bind:perPage="searchData.meta.perPage"
            ></filters>

        </v-navigation-drawer>
        <v-main>
            <ApartmentList v-bind:apartments="apartmentsData"/>

            <v-row justify="center">
                <v-col>
                    <div class="text-center">
                        <v-container class="max-width">
                            <v-pagination
                                    v-model="searchData.meta.page"
                                    class="my-4"
                                    :length="lastPage"
                                    :total-visible="5"
                                    @input="apartmentSearch"
                            ></v-pagination>
                        </v-container>
                    </div>
                </v-col>
            </v-row>
        </v-main>
    </v-app>
</template>

<script>
    import ApartmentList from './components/ApartmentList';
    import Filters from "./components/Filters";
    import QueryParamHelper from "./services/QueryParamHelper";

    export default {
        name: 'App',
        components: {
            Filters,
            ApartmentList,
        },
        data: () => ({
            drawer: null,
            searchQuery: null,
            searchData: {
                filters: {},
                meta: {
                    page: 1,
                    perPage: 10
                }
            }
        }),
        computed: {
            apartmentsData() {
                return this.$store.state.apartmentsData;
            },
            lastPage() {
                return this.$store.state.lastPage;
            }
        },
        mounted() {
            this.apartmentSearch();
        },
        created() {
            this.updateSearchDataFromQueryParam();
        },
        methods: {
            filterSearch(searchData) {
                this.drawer = false;
                this.searchData.filters = searchData.filters ? searchData.filters : [];
                this.searchData.meta.page = 1;
                this.searchData.meta.perPage = searchData.meta.perPage;

                this.apartmentSearch();
            },
            apartmentSearch() {
                this.$store.commit('SET_APARTMENTS_DATA', null);
                this.buildSearchQuery();
                this.updateQueryString();

                this.$store.dispatch('fetchApartmentsData', this.searchQuery);

                window.scrollTo({ top: 0, behavior: 'smooth' });
            },
            buildSearchQuery() {
                this.searchQuery = QueryParamHelper.buildSearchQuery(this.searchData);
            },
            updateQueryString() {
                QueryParamHelper.updateQueryString(this.searchQuery);
            },
            updateSearchDataFromQueryParam() {
                this.searchData = QueryParamHelper.resolveSearchDataFromQueryParam(this.searchData);
            }
        }
    };
</script>
